$font-stack: source sans pro;
$color-grey: #d7d7d7;
$color-grey-alpha: rgba(221, 221, 221, 0.15);

html {
  min-height: 100px;
}

body {
  font-family: $font-stack;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.bn-bg {
  background: #212429;
  padding: 10px;
  nav {
    display: flex;
    justify-content: center;
    span {
      font-size: 22px;
      font-weight: bold;
      color: #fefefe;
    }
  }
}

.content {
  padding: 40px 0 0 0;
  min-height: calc(100vh - 70px);
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 210px;
  }

  .carousel {
    position: relative;
  }

  .carousel__slide {
    margin-right: auto;
    margin-left: auto;
    display: none;
    max-width: 900px;
    list-style-type: none;
    text-align: center;
    &--active {
      display: block;
    }
  }

  .carousel__arrow {
    position: absolute;
    top: 50%;
  }
  .carousel__right-arrow {
    right: 20%;
  }

  .carousel__left-arrow {
    left: 20%;
  }

  .tags {
    .tag {

    }
  }
}
.footer {
  text-align: center;
  span {
    font-size: 14px;
    letter-spacing: 1.4px;
    color: rgba(255, 255, 255, 0.4);
  }
}

.spinner {
  font-size: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 30%;
  left: 50%;
}

.hideSpinner {
  display: none;
}
